/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 @import "tailwindcss";
 /* @plugin "@midudev/tailwind-animations"; */

:root {
	/* Colores */
	--primary: 224, 127, 63; /*#E07F3F*/
	--secondary: 13, 55, 69; /*#0D3745*/
	--accent: 132, 52, 28; /*#84341C*/
	--dark: 30, 37, 44; /* #1E252C */
	--black: 15, 18, 25; /* #0F1219 */
	--light: 255, 253, 248; /* #FFFDFA */
	
	--accent-light: #2337ff;
	--accent-dark: #000d8a;
	--blue-light: 0, 216, 255; /* #00D8FF */
	--blue-dark: 0, 78, 146; /* #004A92 */
	--pink: 255, 83, 182; /* #FF53B6 */
	--yellow-light: 255, 204, 51; /* #FFCC33 */
	--gray: 96, 115, 159; /* #60739F */
	--gray-light: 229, 233, 240; /* #E5E9F0 */
	--gray-dark: 34, 41, 57; /* #222939 */
	
	/* Tipografía */
	--body:'Inter Variable', sans-serif;
	--mono: 'Inconsolata Variable', monospace;
	--parrafo: 'Atkinson Hyperlegible Next Variable', sans-serif;

	/* Shadows */
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	
}

/* Reset CSS*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}
/* CSS General */
body {
	font-family: var(--body);
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.print {
	display: none !important;
}

@media print {
	.no-print {
		display: none !important;
	}

	.print {
		display: block !important;
	}

	article {
		break-inside: avoid;
	}

	astro-dev-toolbar {
		display: none !important;
	}
}
/* body {
	font-family: var(--font-body) 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	text-wrap: pretty;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--dark));
	font-size: 16px;
	line-height: 1.25;
} */

/* main {
	width: 704px;
	max-width: calc(100% - 4px);
	margin: auto;
	padding: 3rem 1rem;
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;	
	color: rgb(var(--dark));
	line-height: 1.2;
} */
/* h1 {
	font-size: 3.052em;
	font-weight: 700;
}
h2 {
	font-size: 2.441em;
	font-weight: 600;
}
h3 {
	font-size: 1.953em;
	font-weight: 500;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: rgb(var(--dark),0.85);
}
a:hover {
	color: rgb(var(--accent-dark),0.85);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding:0 0em 0;
	}
} */