---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Header from "../components/Header.astro";
import Tasks from "../components/sections/Tasks.astro";
import Footer from "../components/Footer.astro";

import Data from "../icons/Data.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Bluesky from "../icons/Bluesky.astro";
import Instagram from "../icons/Instagram.astro";
import Threads from "../icons/Threads.astro";

const SOCIAL_ICONS: Record<string, any> = {
  Github,
  Linkedin,
  Bluesky,
  Instagram,
  Threads,
};
import { basics } from "../consts/landing.json";
const { name, label, profiles } = basics;
---

<Layout title={`Galería de Proyectos de ${name} • ${label}`}>
  <Header />
  <Section>
    <article>
      <header>
        <h2>
          <Data />
          Proyectos <span>|</span> Trabajos Recientes:
        </h2>
      </header>
      <footer>
        
      </footer>
    </article>
  </Section>
  
  <Tasks />
  <Footer />
</Layout>
