---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
interface Props {
  title: string;
}
const { title } = Astro.props;
const description = SITE_DESCRIPTION;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main>
      <div
        class="absolute inset-0 -z-10 h-full w-full bg-transparent bg-[linear-gradient(to_right,rgb(var(--light),0.01)_1px,transparent_1px),linear-gradient(to_bottom,rgb(var(--light),0.01)_1px,transparent_1px)] bg-[size:16px_16px]"
      >
        <div
          class="absolute left-0 right-0 top-0 -z-10 m-auto h-[300px] w-[300px] rounded-full bg-[rgb(var(--accent),0.45)] opacity-40 blur-[100px]"
        >
        </div>
      </div>
      <slot />
    </main>
  </body>
</html>

<style>
  :root {
    --hdr-gradient: linear-gradient(
      to top left in oklch,
      oklch(0.1824 0.0152 266.74) 0%,
      oklch(0.2607 0.0166 248.46) 100%
    );
    --sdr-gradient: linear-gradient(to top left, #0f1219 0%, #1e252c 100%);
    background: var(--hdr-gradient);
    /* BG Animation */
    /* --color-1: oklch(0.2607 0.0166 248.46); */
    /* --color-2: oklch(0.1824 0.0152 266.74); */
  }
  body {
    min-height: 100dvh;
    /* BG Animation */
    /* background: linear-gradient(-45deg, var(--color-1), var(--color-2)); */
    /* background-size: 500% 500%; */
    /* animation: bg 3s ease infinite; */
  }
  /* 
  @keyframes bg {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }   */
</style>
